{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Members</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members.groups') }}">Groups</a></li>
        <li class="breadcrumb-item active">{{ group.name }}</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/members/groups/_tabs.html.twig') }}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Save</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %} 