{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item active">Profile</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <table class="table table-bordered mb-0">
                <tbody>
                <tr>
                    <th>Name</th>
                    <td>
                        {{ user.name.full }}
                        <a href="{{ path('profile.name') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        {{ user.email ? user.email.value : '' }}
                        <a href="{{ path('profile.email') }}" class="btn btn-sm btn-outline-primary"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>Created</th>
                    <td>{{ user.date|date('H:i:s d F Y') }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user_role(user.role.name) }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">Networks</div>
        <div class="card-body">
            {% if user.networks %}
                <table class="table table-bordered">
                    <tbody>
                    {% for network in user.networks %}
                        <tr>
                            <th>{{ network.network }}</th>
                            <td>{{ network.identity }}</td>
                            <td>
                                <form
                                        action="{{ url('profile.oauth.detach', {network: network.network, identity: network.identity}) }}"
                                        method="post"
                                        onsubmit="return confirm('Are you sure?')"
                                >
                                    <input type="hidden" name="_method" value="DELETE"/>
                                    <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
                                    <button type="submit" class="btn btn-sm btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <a href="{{ path('profile.oauth.facebook') }}" class="btn btn-facebook">Attach Facebook</a>
        </div>
    </div>

{% endblock %}